server.port=8080

springdoc.api-docs.path=/v3/api-docs
springdoc.swagger-ui.path=/swagger-ui.html

logging.level.root=INFO
logging.level.org.springframework.web=INFO
logging.level.org.hibernate=ERROR
logging.level.dev.austinbarnes.retail=DEBUG

spring.datasource.url=jdbc:postgresql://db:5432/retail_db
spring.datasource.username=
spring.datasource.password=
spring.datasource.driver-class-name=org.postgresql.Driver

spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true

spring.datasource.hikari.maximum-pool-size=10
spring.datasource.hikari.minimum-idle=5
spring.datasource.hikari.idle-timeout=300000
spring.datasource.hikari.connection-timeout=30000

spring.data.redis.host=redis
spring.data.redis.port=6379
spring.data.redis.timeout=2000

spring.session.store-type=redis
server.servlet.session.timeout=30m
spring.session.redis.flush-mode=on-save
spring.session.redis.namespace=spring:session

spring.security.oauth2.client.registration.google.client-id=
spring.security.oauth2.client.registration.google.client-secret=
spring.security.oauth2.client.registration.google.scope=email,profile
spring.security.oauth2.client.registration.google.redirect-uri={baseUrl}/login/oauth2/code/{registrationId}

spring.security.oauth2.client.registration.github.client-id=
spring.security.oauth2.client.registration.github.client-secret=
spring.security.oauth2.client.registration.github.scope=user:email,read:user
spring.security.oauth2.client.registration.github.redirect-uri={baseUrl}/login/oauth2/code/{registrationId}

spring.mail.host=
spring.mail.port=
spring.mail.username=
spring.mail.password=
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true

#app.base.url=http://localhost:8080
app.frontend.url=http://localhost:3000
system.employee.id=0eb9051d-f61d-495e-8157-3f2edf93c323
session.cookie.domain=

# Initial admin details (complete here or use env vars mapped to here)
# If password is left blank, one will be generated and print to the logs on first run
initial.admin.email=
initial.admin.password=